body{
	font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
	background-color: #b8e5f8;
	/*background: linear-gradient(0deg, #0b4182 1%, #1e88e5 100%);*/
	background: linear-gradient(0deg, #000 1%, #fff 100%);
	background-attachment: fixed;
	background-size: cover;
}

#container{
	width: 60%;
	margin: auto;
}

.imgbox{
	width: 100%;
	border-radius: 10px;
	box-shadow: 1px 1px 5px rgba(0,0,0,.1), 0 0 10px rgba(0,0,0,.32);
	margin: 10px 0 20px 0;
	position:relative;  
	border: none;
}

#userimg{
	width: 100%;
	max-width: 100%;
	background-position: center center;
	background-size: 100%  ;
	border-radius: 10px;
	border: none;
}

#inputbox{
	position:absolute;
	opacity:0;
}

.btn:hover{
	width: 100%;
	display: inline-block;
	padding: 0 16px;
	font-size: 20px;
	line-height: 50px;
	background-color: #409EFF;
	color: #fff;
	text-align: center;
	cursor: pointer;
	border: 1px solid;
	border-radius: 8px;
	transition: background 0.6s linear;
	margin-bottom: 15px;
	outline:none;
}

.btn{
	width: 100%;
	display: inline-block;
	padding: 0 16px;
	font-size: 22px;
	line-height: 48px;
	color: #0084ff;
	text-align: center;
	cursor: pointer;
	background: none;
	border: 1px solid;
	border-radius: 6px;
	margin-bottom: 15px;
	outline:none;
}
